{% extends "layout.html" %}

{% block title %}
     Thoughts
{% endblock %}

{% block main %}
<div id="blog">
	{%for post in posts.items%}
		<div class="card">
			<div class="card-header">
				<i>{{ post.date_posted.strftime('%Y-%m-%d')}}</i>
			</div>
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p><a class="article-title" href="{{ url_for('posts.post',post_id=post.id)}}" >{{ post.title }}</a></p>
					<footer class="blockquote-footer">{{ post.author.username }}</footer>
						</blockquote>
			</div>
					
		</div>
	{%endfor %}
	 {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <buttom><a class="btn btn-info  btn-sm" href="{{ url_for('main.ashes', page=page_num) }}">{{ page_num }}</a></buttom>
        {% else %}
	<buttom><a class="btn btn-outline-info  btn-sm" href="{{ url_for('main.ashes', page=page_num) }}">{{ page_num }}</a></buttom>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock main %}