{% extends "layout.html" %}

{% block title %}
    Eggs
{% endblock %}

{% block main %}
					<div class="card">
					  <div class="card-header">
						<i>From eggs with love</i>
					  </div>
					  <div class="card-body">
						<blockquote class="blockquote mb-0">
						  <p>Possible ways of making eggs</p>
						  <footer class="blockquote-footer">Because <cite title="Source Title">I</cite> am a lazy grocery shopper</footer>
						</blockquote>
					  </div>
					</div>
					<h4> <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
   茶碗蒸し</a></h4><div class="collapse" id="collapseExample1">
  <div class="card card-body">
    <a href="https://en.wikipedia.org/wiki/Chawanmushi">茶碗蒸し</a>Chawanmushi (literally "tea cup steam" or "steamed in a tea bowl") is an egg custard dish found in Japan.<br> Unlike many other custards, it is usually eaten as a dish in a meal, as chawanmushi contains savory rather than sweet ingredients. The custard consists of an egg mixture flavored with soy sauce, dashi, and mirin, with numerous ingredients such as shiitake mushrooms, kamaboko, yuri-ne (lily root), ginkgo and boiled shrimp placed into a tea-cup-like container.
  </div></div>
  	<h4>  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
  温泉卵/温泉玉子
  </a></h4><div class="collapse" id="collapseExample2">
  <div class="card card-body">
    <a href="https://en.wikipedia.org/wiki/Onsen_tamago">温泉卵/温泉玉子</a>Onsen tamago is a traditional Japanese low temperature egg which is originally slow cooked in the water of onsen hot springs in Japan. <br>The egg has a unique texture in that the white tastes like a delicate custard (milky and soft) and the yolk comes out firm, but retains the color and creamy texture of an uncooked yolk. This special texture is the result as egg yolk and egg white solidify at different temperatures. The egg is poached within the shell and is served with the shell removed in a small cup with sauce of broth and soy sauce </div></div>
  	<h4>  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
    玉子焼き/玉子焼き
  </a></h4><div class="collapse" id="collapseExample3">
  <div class="card card-body">
 <a href="https://en.wikipedia.org/wiki/Tamagoyaki"> 玉子焼き/玉子焼き</a>Tamagoyaki (literally "grilled egg") is a type of Japanese omelette, which is made by rolling together several layers of cooked egg. These are often prepared in a rectangular omelette pan called a makiyakinabe or tamagoyakiki.</div>
</div>



{% endblock %}
