{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
					<div class="card">
					  <div class="card-header">
						<i><b>テレビを見る時は部屋を明るくして離れて見て下さい</b></i>
					  </div>
					  <div class="card-body">
						<blockquote class="blockquote mb-0">
						  <p>-Archive- </br>
							  </p>
						  <footer class="blockquote-footer">感谢访问</footer>
						</blockquote>
					  </div>
					</div>
					<br>
					<h6>email: linwq16@hotmail.com</h6>
					<h6>ins: @teacaffeine</h6>
					<br>

{% endblock %}