{% extends "layout.html" %}

{% block title %}
    Self-Intro
{% endblock %}

{% block main %}
					<div class="card">
					  <div class="card-header">
						<i>About TeaPP</i>
					  </div>
					  <div class="card-body">
						<blockquote class="blockquote mb-0">
						  <p>In case you wonder: TeaPP is short for Tea Polyphenols</p>
						  <footer class="blockquote-footer">
							  <br><b>Name/<a href="https://www.instagram.com/teacaffeine/">ins: </a></b> TeaPP
					    <br><b>Birthday:</b>01/04/27
							  <br><b>Pron.:</b> She/her/hers
					    <br><b>Animals:</b> reptiles, currently prefer dogs over cats
					    <br><b>Music: </b>Debussy, Gorillaz, Glass animals, Arctic Monkeys, Placebo, Radiohead, anything, everything...
					    <br><b>Authors: </b>Salinger, Akutagawa, Lu Xun, Albert Camus...
					    <br><b>and...: </b>EVA, FFVII, arknights, kakasasu...
							  <br><b>Facts: </b>a comp bio major desperately trying to save her GPA
							  <br><b>Food: </b>coffee/oolong (tea in general)/liqueurs/boba/shaved ice <3
					</footer>
						</blockquote>
					  </div>
					</div>
{% endblock %}