{% extends "layout.html" %}

{% block title %}
    Self-Intro
{% endblock %}

{% block main %}
					<div class="card">
					  <div class="card-header">
						<i>About TeaPP</i>
					  </div>
					  <div class="card-body">
						<blockquote class="blockquote mb-0">
						  <p>In case you wonder: TeaPP is short for Tea Polyphenols ^ ^</p>
						  <footer class="blockquote-footer">
							  <br><b>Name/<a href="https://www.instagram.com/teacaffeine/">ins: </a></b> TeaPP
					    <br><b>Birthday:</b>01/04/27
							  <br><b>Pron.:</b> She/her/hers
					    <br><b>Animals:</b> reptiles. Spiders used to be among the list but after living in cali for a yr...
					    <br><b>Music: </b>Debussy, Gorillaz, Glass animals, Arctic Monkeys, Placebo, Blur, Radiohead, pretty much everything, into indie&classic recently
					    <br><b>Authors: </b>Salinger, Akutagawa, Lu Xun, Italo Calvino, Albert Camus, etc.
					    <br><b>Weeeb: </b>E.V.A., FF, touken ranbu, arknights.
							  <br><b>Facts: </b>I am a comp bio major but after two years of IGEM in high school I have no lost love for learning and lab.
							  <br><b>Food: </b>Buy me coffee buy me tea. Or liqueurs/boba/shaved ice. <3
					</footer>
						</blockquote>
					  </div>
					</div>
{% endblock %}